@use 'var';
.frameStyle{
    justify-content: center;
}

.asistir-main{
    //padding-left: 7vh;
    justify-self: center;
}
iframe{
        width:100%;
        height: 235vh;
    }
/*
.form{
    &-container{
        background-color: var.$oliveGreen;
        border-radius: 2vh;
        padding:5vh 0 2vh 0;
        margin:10vh;
        justify-content: center;
        text-align: center;
        
    }
    &-invit{
        align-items: top;       
        margin-left:0;
        margin-top: 1vh; 
        
    }
    &-items{
        justify-content: left;
        align-content: center;
        border-radius: 2vh;      
        &-txta{
            @extend .form-items;
            align-self:baseline;
        }
        &-sub{                
            &-content{
                justify-self: center;
                align-self:center;   
                font-size: 3vh;                
                justify-self: center;                
            }
           @extend .form-items;  
           font-family: var.$f-contenido;
           color:var.$mossGreen;
           font-weight: bold;
           border-color: 0.5vh var.$mossGreen solid;
           justify-self: center;
           background-color: var.$grape;
           border-radius: 1vh;
           margin-top:5vh;
           &:hover{
            opacity: 0.6;
           }
        }
    }
    &-inputText{
        font-family: var.$f-contenido;
        font-size: 3vh;
        border-radius: 2vh;
        border:0.3vh var.$grape solid;
        background-color: white;
        height: 60%;
        width:100%;
        padding-left:1vh;
        color:var.$grape;
        &-txta{
          @extend .form-inputText;
            height: 80%;
            width:100%;
            margin-top:3vh;
        }
        &-check{
            @extend .form-items;
        }
    }
    &-check{ 
        @extend .form-inputText;
        width:4vh;
        text-align: left;
        align-content: center;
        margin-top:1vh;
        margin-left:5%;
        &-label{
            align-self: center;          
            font-family: var.$f-contenido   ;
            font-size: 3vh;
            color:var.$grape;
            text-align: left;
            font-weight: bold;
            padding-left:1.5vh;
        }   
    }    
}*/