@use 'var';

.endPa{    
    //margin-top:20vh;
    align-content: center;
    justify-content: right;
    
    &-content{
        justify-content: right;       
        align-self: center   ;
    }
     &-logo{
         justify-content: center;
         font-size:3vh;
         font-family: var.$f-hvinculo;
         color:var.$redWine;
         text-decoration: none;
         text-align: center;
     &:hover{
        color:var.$grape;
     }}
     &-text{
         justify-content: center; 
         font-family: var.$f-leyenda;
         text-align: center;
         font-size: 1.5vh;
     }
}

/*.logo{<img  class='logo' src='assets\img\Logo\Logo.png' alt='Logo Corporativo'/>
   
}*/