@use 'var';
.ubic-main{
    justify-content: center;
    text-align: center;
}
.lug-main{
    align-items:center;
    justify-content: center;
    &-tit{
        color:var.$oliveGreen;
        font-family: var.$f-boton;
        font-size: 6vh;
        justify-items: center;
        text-align: center;
        font-weight: bold;
    }
    &-textdes{
        font-family: var.$f-contenido;
        text-align: justify;
        font-size: 2.5vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:4vh;
            font-weight: bold;
            color:var.$grape;
            text-align: center;
        }
    }
    &-textau{
        margin-top:2vh;
        font-family: var.$f-contenido;
        text-align: center;
        font-size: 3vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:8vh;
            font-weight: bold;
            text-align: center;
            color:var.$grape;
        }
        &-tx{
            padding:25vh;
        }
    }
    &-frame{
        font-family: var.$f-contenido;
        text-align: center;
        font-size: 3vh;
        &-link{
            width: 40vh;
            height: 40vh;
            border:none;
        }
    }
    &-img{
        margin:3vh 0 2vh 0;
        align-self: center;
        justify-self: center;
        text-align: center;
        -webkit-mask-image: linear-gradient(to right, rgba(144, 58, 150, 0.796), transparent),
                            linear-gradient(to left, rgba(144, 58, 150, 0.796), transparent); /* Degradado a la izquierda y derecha */
        mask-image: linear-gradient(to right, rgba(197, 40, 40, 0.71), transparent),
                    linear-gradient(to left, rgba(197, 40, 40, 0.71), transparent); /* Degradado a la izquierda y derecha */
        -webkit-mask-position: 0 0, 50% 0; 
        -webkit-mask-repeat: no-repeat;     
        mask-position: 0 0, 50% 0; 
        mask-repeat: no-repeat;
        width:30vh;
        height: 40vh;
    }
}