@use 'var';
.info-main{
    align-items:center;
    justify-content: center;
    &-list{
        text-align: center;
        justify-content: center;
        align-items: center;
        &-listhead{
            text-align:center;
            color:var.$softGrape;
            font-weight: bold;
            font-family: var.$f-hvinculo;
            font-size: 3vh;
        }
        &-listbody{
            font-family: var.$f-contenido;
            text-decoration: none;
            font-size: 2.5vh;
            color:black;
        }
    }
    &-textdes{
        font-family: var.$f-contenido;
        text-align: justify;
        font-size: 2.5vh;
        color:black;
        &-data{
            text-align: center;
            font-family: var.$f-boton;
            font-size:4vh;
            font-weight: bold;
            color:var.$grape;
        }
    }
  &-hlink{
        text-align:center;
        color:var.$softGrape;
        font-weight: bold;
        font-family: var.$f-hvinculo;
        text-decoration: none;
        font-size: 3vh;
        &:hover{
            color:var.$grape;
        }
  }
}