@use 'var';

.info-main{
    align-items:center;
    text-align: center;
    justify-content: center;
    &-alox{
        justify-content: center;
        border:1px solid green;
    }
    
    &-table{
        //width:50%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        text-align: center;
        border:1px solid red;
        &-texthead{
        font-family: var.$f-boton;
        font-size: 2.5vh;
        }
        &-textbody{
        font-family: var.$f-contenido;
        font-size: 2vh;  
        }
    }
    &-textdes{
        padding:1vh;
        font-family: var.$f-contenido;
        text-align: center;
        font-size: 2.5vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:4vh;
            font-weight: bold;
            color:var.$grape;
        }
    }
    &-textau{
        //margin-top:2vh;
        //padding:1vh;
        font-family: var.$f-contenido;
        text-align: center;
        text-decoration: none;
        font-size: 2.5vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:8vh;
            font-weight: bold;
            text-align: center;
            color:var.$grape;
        }
        &-tx{
            padding:25vh;
        }
    }
  &-hlink{
        color:var.$softGrape;
        text-decoration: none;
        font-weight: bold;
        font-family: var.$f-hvinculo;
        &:hover{
            color:var.$grape;
        }
  }
}