@use 'var';
.info-main{
    text-align: center;
    justify-content: center;
    &-list{
        text-align: justify;
        padding-top: 2vh;
        justify-content: center;
        border:1px solid green;
        &-listhead{
        font-family: var.$f-boton;
        font-size: 20vh;        
        text-decoration: none;
        }
        &-listbody{
        font-family: var.$f-contenido;
        text-align: center;
        text-decoration: none;
        font-size: 2.5vh;
        color:black;
        list-style-type: none;
        }
    }
    &-textdes{
        font-family: var.$f-contenido;
        text-align: justify;
        font-size: 2.5vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:4vh;
            font-weight: bold;
            color:var.$grape;
        }
    }
  &-hlink{
        color:var.$softGrape;
        text-decoration: none;
        font-weight: bold;
        font-family: var.$f-hvinculo;
        font-size: 1vh;
        &:hover{
            color:var.$grape;
        }
  }
}
ul{
    list-style-type: none;   
}