@use 'var';


.info-main{
    align-items:center;
    text-align: center;
    justify-content: center;
    //margin: 5vh 0 0 0;
    padding-left:0.1vh;
    padding-right: 0.1vh;
    &-table{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    &-textdes{
        padding:1vh;
        font-family: var.$f-contenido;
        text-align: center;
        font-size: 3vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:6vh;
            font-weight: bold;
            color:var.$grape;
        }
    }
    &-textab{
        padding:1vh;
        font-family: var.$f-contenido;
        text-align: center;
        font-size: 2vh;
        color:black;
    }
    &-textau{
        //margin-top:2vh;
        //padding:1vh;
        font-family: var.$f-contenido;
        text-align: center;
        text-decoration: none;
        font-size: 1vh;
        color:black;
        &-data{
            font-family: var.$f-boton;
            font-size:8vh;
            font-weight: bold;
            text-align: center;
            color:var.$grape;
        }
        &-tx{
            padding:25vh;
        }
    }
    &-frame{
        font-family: var.$f-contenido;
        text-align: center;
        font-size: 3vh;
        &-link{
            width: 50vh;
            height: 50vh;
            border:none;
        }
    }
    &-img{
        margin:0 0 2vh 0;
        align-self: center;
        justify-self: center;
        text-align: center;
        -webkit-mask-image: linear-gradient(to right, rgba(144, 58, 150, 0.796), transparent),
                            linear-gradient(to left, rgba(144, 58, 150, 0.796), transparent); /* Degradado a la izquierda y derecha */
        mask-image: linear-gradient(to right, rgba(197, 40, 40, 0.71), transparent),
                    linear-gradient(to left, rgba(197, 40, 40, 0.71), transparent); /* Degradado a la izquierda y derecha */
        -webkit-mask-position: 0 0, 50% 0; 
        -webkit-mask-repeat: no-repeat;     
        mask-position: 0 0, 50% 0; 
        mask-repeat: no-repeat;
        
        width:25%;
        height: 60%;
    }
}