@import url(https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poiret+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap);
.header_ps {
  background-color: rgba(171, 185, 115, 0.6196078431);
  border-bottom: #cd8989;
  padding: 2vh;
  justify-content: center;
  align-items: center;
}

.header {
  background-image: url("/assets/img/Fotos/indexBG_6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: #cd8989;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.dropdown-item {
  background-color: transparent;
}

.lang-menu {
  justify-content: right;
  align-content: center;
}
.lang-menu-btn {
  justify-content: right;
  text-align: right;
  border: none;
  background-color: transparent;
}
.lang-menu-drop {
  background-color: white;
  width: fit-content;
  padding: 2vh;
}
.lang-menu-lenda {
  justify-content: right;
  color: #72192d;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5vh;
  text-decoration: none;
}
.lang-menu-lenda:hover {
  background-color: transparent;
  color: #793a57;
}
.lang-menu-lenda-sub {
  font-size: 2vh;
}
.lang-menu-lenda-sub:hover {
  color: #793a57;
}

.head-tit {
  font-family: "Quicksand", sans-serif;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  color: #72192d;
}

.head-nav-contain {
  justify-items: center;
  text-align: center;
}
.head-nav-contain-item {
  margin: 0 2vh 0 2vh;
  font-size: 5vh;
}
.head-nav-contain-link {
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3vh;
  color: #72192d;
  font-weight: bold;
}
.head-nav-contain-link:hover {
  color: #cd8989;
}

.nav-item {
  font-weight: bold;
  color: #72192d;
}

.index-main {
  justify-content: center;
  text-align: center;
}

.ind-main {
  align-items: center;
  justify-content: center;
}
.ind-main-tit {
  color: #72192d;
  font-family: "Poiret One", sans-serif;
  font-size: 4vh;
  justify-items: center;
  text-align: center;
  font-weight: bold;
}
.ind-main-text {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  font-size: 2.5vh;
  color: black;
}
.ind-main-hlink {
  color: #793a57;
  text-decoration: none;
  font-weight: bold;
  font-family: "Cinzel", serif;
}
.ind-main-hlink:hover {
  color: #72192d;
}
.ind-main-img {
  padding: 1vh;
  align-self: center;
  justify-self: center;
  text-align: center;
  border-radius: 5vh;
  width: 60%;
  height: auto;
}

.ubic-main {
  justify-content: center;
  text-align: center;
}

.lug-main {
  align-items: center;
  justify-content: center;
}
.lug-main-tit {
  color: rgba(171, 185, 115, 0.6196078431);
  font-family: "Poiret One", sans-serif;
  font-size: 6vh;
  justify-items: center;
  text-align: center;
  font-weight: bold;
}
.lug-main-textdes {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  font-size: 2.5vh;
  color: black;
}
.lug-main-textdes-data {
  font-family: "Poiret One", sans-serif;
  font-size: 4vh;
  font-weight: bold;
  color: #72192d;
  text-align: center;
}
.lug-main-textau {
  margin-top: 2vh;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 3vh;
  color: black;
}
.lug-main-textau-data {
  font-family: "Poiret One", sans-serif;
  font-size: 8vh;
  font-weight: bold;
  text-align: center;
  color: #72192d;
}
.lug-main-textau-tx {
  padding: 25vh;
}
.lug-main-frame {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 3vh;
}
.lug-main-frame-link {
  width: 40vh;
  height: 40vh;
  border: none;
}
.lug-main-img {
  margin: 3vh 0 2vh 0;
  align-self: center;
  justify-self: center;
  text-align: center;
  -webkit-mask-image: linear-gradient(to right, rgba(144, 58, 150, 0.796), transparent), linear-gradient(to left, rgba(144, 58, 150, 0.796), transparent); /* Degradado a la izquierda y derecha */
  mask-image: linear-gradient(to right, rgba(197, 40, 40, 0.71), transparent), linear-gradient(to left, rgba(197, 40, 40, 0.71), transparent); /* Degradado a la izquierda y derecha */
  -webkit-mask-position: 0 0, 50% 0;
  -webkit-mask-repeat: no-repeat;
  mask-position: 0 0, 50% 0;
  mask-repeat: no-repeat;
  width: 30vh;
  height: 40vh;
}

.frameStyle {
  justify-content: center;
}

.asistir-main {
  justify-self: center;
}

iframe {
  width: 100%;
  height: 235vh;
}

.info-main {
  align-items: center;
  justify-content: center;
}
.info-main-list {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.info-main-list-listhead {
  text-align: center;
  color: #793a57;
  font-weight: bold;
  font-family: "Cinzel", serif;
  font-size: 3vh;
}
.info-main-list-listbody {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 2.5vh;
  color: black;
}
.info-main-textdes {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  font-size: 2.5vh;
  color: black;
}
.info-main-textdes-data {
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-size: 4vh;
  font-weight: bold;
  color: #72192d;
}
.info-main-hlink {
  text-align: center;
  color: #793a57;
  font-weight: bold;
  font-family: "Cinzel", serif;
  text-decoration: none;
  font-size: 3vh;
}
.info-main-hlink:hover {
  color: #72192d;
}

.endPa {
  align-content: center;
  justify-content: right;
}
.endPa-content {
  justify-content: right;
  align-self: center;
}
.endPa-logo {
  justify-content: center;
  font-size: 3vh;
  font-family: "Cinzel", serif;
  color: #cd8989;
  text-decoration: none;
  text-align: center;
}
.endPa-logo:hover {
  color: #72192d;
}
.endPa-text {
  justify-content: center;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  font-size: 1.5vh;
}

/*.logo{<img  class='logo' src='assets\img\Logo\Logo.png' alt='Logo Corporativo'/>

}*/
/*                                   CONTAINERS                              */
html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
}