@import url(https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poiret+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap);
.info-main {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.info-main-alox {
  justify-content: center;
  border: 1px solid green;
}
.info-main-table {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  border: 1px solid red;
}
.info-main-table-texthead {
  font-family: "Poiret One", sans-serif;
  font-size: 2.5vh;
}
.info-main-table-textbody {
  font-family: "Quicksand", sans-serif;
  font-size: 2vh;
}
.info-main-textdes {
  padding: 1vh;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 2.5vh;
  color: black;
}
.info-main-textdes-data {
  font-family: "Poiret One", sans-serif;
  font-size: 4vh;
  font-weight: bold;
  color: #72192d;
}
.info-main-textau {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 2.5vh;
  color: black;
}
.info-main-textau-data {
  font-family: "Poiret One", sans-serif;
  font-size: 8vh;
  font-weight: bold;
  text-align: center;
  color: #72192d;
}
.info-main-textau-tx {
  padding: 25vh;
}
.info-main-hlink {
  color: #793a57;
  text-decoration: none;
  font-weight: bold;
  font-family: "Cinzel", serif;
}
.info-main-hlink:hover {
  color: #72192d;
}